/*  WORK */
.work__container {
  row-gap: 2rem
}
.work__img {
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
  border-radius: .5rem;
  overflow: hidden
}
.work__img img {
  transition: 1s
}
.work__img img:hover {
  transform: scale(1.1)
}