.home {
  position: relative;
  row-gap: 5rem;
  padding: 4rem 0 5rem;
  display: flex;
  justify-content: space-between;
}
.home__data{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}
.home__title {
  font-size: 50px;
  margin-bottom: var(--mb-5)
}
@media(max-width:767px){
  .home__title{
    font-size: 43px;
    padding-top: 20px;
  }
}
.home__title-color {
  color: #C7A17A
}
.home__social {
  display: flex;
  gap: 20px;
}