.main-header{
    display: flex;
    height: 50px;
    border: 1px solid black;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}
.nav-link{
    padding: 10px;
    text-decoration: none;
    color: white;
}