.footer{
  position: relative;
  padding-top: 50px;
  padding-bottom: 30px;
  background-color: rgba(0,0,0,.9);
  color: #fff;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
@media(max-width:767px){
  .footer .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
  }
  .footer .container div h3{
    margin-top: 20px;
  }
}
.footer .container div h3{
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
}
.footer .container .opening .day{
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 20px;
  font-size: 12px;
  text-transform: uppercase;
}
.footer .container .opening .day .time{
  color:#c7a17a;
}
.footer .container .posts .post{
  font-size: 14px;
  border-bottom: 1px solid #acacac;
  padding: 10px 0;
}
.footer .container .posts .post .title-post{
  margin-bottom: 5px;
}
.footer .container .posts .post .title-post:hover{
  color: #c7a17a;
  cursor: pointer;
  transition: .3s;
}
.footer .container .posts .post .date{
  color: #acacac;
  font-size: 12px;
}
.footer .container .contact .contact-us{
  font-size: 13px;
}
.footer .container .contact .contact-us a{
  text-decoration: none;
}
.footer .container .contact .contact-us a:first-of-type{
  color: #c7a17a;
  cursor: pointer;
  display: block;
}
.footer .container .contact .contact-us a:last-of-type,
.footer .container .contact .contact-us div {
  color: #acacac;
  display: block;
}
.footer .container .contact .contact-us div,
.footer .container .contact .contact-us a{
  margin-bottom: 15px;
}
.footer .container .contact .last-post{
  position: relative;
}
.footer .container .other-locations{
  font-size: 13px;
}
.footer .container .other-locations h5{
  text-transform: uppercase;
  margin-bottom: 10px;
}
.footer .container .other-locations p{
  color: #acacac;
}
.footer .container .other-locations .other{
  border-bottom: 1px solid #acacac;
  padding-bottom: 20px;
}
.footer .container .other-locations .other-2{
  padding-top: 20px;
}
.made, .copyright{
  color: #000;
}
/*Start Social*/
.social{
  background-color: #F8F9FA;
  padding: 20px 0;
  border-top: 2px solid #C7A17A;
}
.social .container{
  display: flex;
  justify-content: space-between;
  align-content: center;
  color: #acacac;
  font-size: 13px;
}
@media(max-width:767px){
  .social .container{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
}
.social .container .icons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.social .container .made, .social .container .copyright{
  font-weight: 700;
}
.social .container .made span, .social .container .copyright span{
  color: #C7A17A;
}
.icon-social{
  width: 25px;
  height: 25px;
}
.icon-social:hover{
  transform: scale(1.5);
  transition: .3s;
}
.input-footer{
  background-color: var(--secColor) !important;
  border: 2px solid var(--textColor);
  border: none;
}