.photos{
  position: relative;
  padding: 50px 0;
  background-image: url(../../../public/imgs/work17.avif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 60px 0;
}
.photos .container{
  overflow: hidden;
}
.photos .container .layout{
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
  grid-template-areas:
    "woman woman work man"
    "woman woman work job"
}
@media(max-width:767px){
  .photos .container .layout{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.photos .container .layout img{
  max-width: 100%;
}
.photos .container .layout .woman{
  grid-area: woman;
}
.photos .container .layout .work{
  grid-area: work;
}
.photos .container .layout .man{
  grid-area: man;
}
.photos .container .layout .job{
  grid-area: job;
}